@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* ELEMENTS */

:root {
    --color-white: #FFF;
    --color-purple: rgb(83, 10, 151);
    --color-yellow: yellow;
    --bg-color-burger-section: #E0FFFF;
    --bg-gray: #e5e5e5;
    --text-green: #4bff5d;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

header {
    background-color: var(--color-purple);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

nav h1 {
    text-align: center;
    color: var(--color-white);
    font-size: 24px;
}

footer {
    padding: 0 15px;
    height: 120px;
    background-color: var(--color-purple);
    color: var(--color-white);
    display: flex;
    align-items: center;
}

/* CLASSES, ID'S */

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#burgers {
    padding: 20px 15px;
    background-color: var(--bg-gray);
}

.burger-card {
    display: flex;
    margin: 20px 0;
}

.burger-card img {
    width: 200px;
    border-radius: 12px 0 0 12px;
}

.burger-description {
    background-color: rgb(82, 82, 82);
    border-radius: 0 12px 12px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-description h3 {
    color: var(--color-white);
    font-size: 24px;
}

.burger-description p {
    color: var(--color-white);
    font-size: 14px;
}

.burger-description h4 {
    font-size: 24px;
    color: var(--text-green);
}

#comments {
    padding: 15px 0;
    background-color: rgb(162, 96, 203);
}

#comments h2 {
    color: rgb(34, 255, 0);
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.card-comment {
    padding: 20px 15px;
    background-color: var(--color-purple);
    color: var(--color-yellow);
    border-radius: 12px;
    margin: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content a {
    font-size: 16px;
}

.footer-content address {
    font-size: 16px;
}